@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@theme {
  --color-customLime: #cbf281;
  --color-customIndigo: #4731d3;
  --color-customPurple: #3730a3;
}
